// Random hash to use in nextflow //
params.random_hash="qwerty"

// Required inputs //
params.output_path="./"
params.batch_file="file_list.txt"

// Custom mounts //
params.custom_mounts=""

// Parallelization of nextflow pipeline //
params.parallel_msconvert=true
params.parallel_maracluster=true
params.parallel_msconvert_max_forks=2
params.parallel_maracluster_max_forks=2

// Choosing workflow (MSconvert, MaRaCluster) //
params.workflow="MaRaCluster"

// Advanced Settings //

// MSconvert
params.msconvert_additional_arguments=""
params.publish_msconvert=true

// Boxcar convert
params.boxcar_convert=false
params.boxcar_convert_additional_arguments=""
params.publish_boxcar_convert=true

// MaRaCluster
params.maracluster_additional_arguments="-t -10 -c -10,-15,-20"
params.publish_maracluster=true

// MaRaCluster-pipeline
params.resume_directory=""
params.output_label=""
params.email=""
params.sendfiles=true

// Profiles //
profiles {

    local {
        process.executor="local"
    }

    cluster {
        process.executor="slurm"
        process.clusterOptions="-A <ACCOUNT>"
        process.queue="core"

        process {
            withName: msconvert {
                cpus=8
                time="20m"
            }
        }
        process {
            withName: boxcar_convert {
                cpus=10
                time="3h"
            }
        }
        process {
            withName: quandenser {
                cpus=8
                time="3h"
            }
        }
        process {
            withName: quandenser_parallel_1 {
                cpus=4
                time="15m"
            }
        }
        process {
            withName: quandenser_parallel_2 {
                cpus=8
                time="2h"
            }
        }
        process {
            withName: quandenser_parallel_3 {
                cpus=4
                time="20m"
            }
        }
        process {
            withName: quandenser_parallel_4 {
                cpus=8
                time="3h"
            }
        }
        process {
            withName: tide_search {
                cpus=2
                time="20m"
            }
        }
        process {
            withName: triqler {
                cpus=20
                time="30m"
            }
        }
    }
}

mail {
    smtp.host="smtp.gmail.com"
    smtp.port=587
    smtp.user=params.email
    smtp.password=""
    smtp.auth=true
    smtp.starttls.enable=true
    smtp.starttls.required=true
}
